@import "tailwindcss";
@import "tw-animate-css";
@import "shadcn/tailwind.css";
/*
---break---
*/
@custom-variant dark (&:is(.dark *));

/*
#19485F, 
#D9E0A4 and 
#ECE7E2, 
#4A7766,
*/
:root {
  --foreground: #000;
  --background: #fff;
  --heading: #4A7766;
  --input: #4A7766;
  --button: var(--input);
}

.dark {
  --foreground: #fff;
  --background: #000;
  --heading: #fff;
  --input: #fff;
  --button: var(--input);
}

body {
  background: var(--background);
  color: var(--foreground);
}

::view-transition-old(root), ::view-transition-new(root) {
    animation: none;
    mix-blend-mode: normal;
}